@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

/* !Starter Modal */
/* !Game Over Modal */
.starter-modal-outer,
#game-over-modal-outer {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: hsl(0 0% 0% / 0.11);
  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-outerModal="false"] {
  display: none;
}
.starter-modal-inner,
#game-over-modal-inner {
  padding: 3rem 2.5rem;
  gap: 1.3rem;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px hsl(0 0% 0% / 0.12);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  position: relative;
}
.starter-modal-inner h2 {
  color: #000;
  font-weight: 800;
  font-size: 1.4em;
}
.starter-modal-inner h2 span {
  position: relative;
  margin-left: 8px;
  z-index: 1;
  color: #ffffff;
}
.starter-modal-inner h2 span::before {
  position: absolute;
  inset: -6px;
  z-index: -1;
  content: "";
  transform: skew(-20deg);
  background: orangered;
}
.starter-modal-inner p {
  font-size: 1.1em;
  color: #555;
  text-align: center;
}
.starter-modal-inner p:nth-of-type(2) {
  color: #000;
  font-weight: 600;
}
.btn {
  margin: auto;
  padding: 8px 8px;
  width: 140px;
  border: none;
  outline: none;
  background-color: #000000ef;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3em;
  border-radius: 50px;
  cursor: pointer;
}
/* Starter Modal ends */
/* Game OVer Modal ends */

/* ! Game Area */
.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

/* ! Score Board */
.score-board {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 1rem;
  overflow: hidden;
}
.current-score {
  background: linear-gradient(145deg, #3eadcf, #abe9cd);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 6px;
}
.current-score h3 {
  font-size: 1.5em;
}
.current-score span {
  font-weight: 900;
  font-size: 1.3em;
}
.top-scores {
  min-height: fit-content;
  max-height: 100%;
  border-radius: 6px;
  padding: 2rem;
  background: linear-gradient(98deg, #6e45e1, #89d4cf);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.top-scores h3 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1.5rem;
}

.scores-wrapper {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: 6px;

}
.scores-wrapper::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}
.scores-wrapper::-webkit-scrollbar-thumb{
    background: hsl(0 100% 100% / .66);
}

.playerDiv {
  display: flex;
  padding: 6px;
  margin-bottom: 0.35rem;
}
.playerDiv h5 {
  flex: 1 1 60%;
  font: 500 1.1em sans-serif;
  color: white;
  text-transform: capitalize;
}
.playerDiv span {
  flex: 1 1 40%;
  color: #efefefca;
}

/* Score board ends */
/* Game Area ends */

/* !Game over modal */
#game-over-modal-outer.hidden {
  display: none;
}
#game-over-modal-inner {
  align-items: center;
  background-color: hsl(0 100% 100% / 0.85);
  backdrop-filter: blur(5px);
}
#game-over-modal-inner h2 {
  font-size: 1.7em;
  letter-spacing: 2px;
  font-family: "Rubik Glitch", cursive;
}
#game-over-modal-inner span {
  font-weight: 400;
  color: #333;
}
#game-over-modal-inner .input-div {
  height: 40px;
  width: 100%;
}
#game-over-modal-inner input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1.2em;
  background-color: #6e45e149;
  border-bottom: 2px solid #6e45e1;
  padding: 5px;
  color: #333;
}
/* Game over modal ends */
.gameArea {
  position: relative;
  background-color: #252525;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.car,
.enemy {
  position: absolute;
  bottom: 100px;
  margin: auto;
  width: 50px;
  height: 100px;
  font-size: 1.7em;
  overflow: hidden;
}

.playerCarOuter {
  height: 100%;
  width: 100%;
  transform: scale(1.33);
}
.playerCarOuter img {
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.enemyCarDiv {
  height: 100%;
  width: 100%;
}
.enemyCar1 {
  transform: scale(1.15);
}
.enemyCar2 {
  transform: scale(1.2);
}
.enemyCarDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.line {
  position: absolute;
  height: 100px;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
